/* ----------------BLOCK COMMENT---------------- */
.comments-section {
	margin-top: 20px;
	padding: 20px;
	border: var(--main-border);
	background-color: rgba(237, 237, 237, 1);
	border-radius: 6px;
}

.comments-section .section-title {
	margin-bottom: 10px;
}

.comments-section .comment-list {
	list-style: none;
	padding: 0;
}

.comments-section .comment-item:nth-child(odd) {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgba(237, 237, 237, 1);
}

.comments-section .comment-item:nth-child(even) {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(223, 223, 223, 1);
}

.comments-section .comment-username {
	font-weight: bold;
	margin-right: 10px;
}

.comments-section .no-comments-message {
	font-style: italic;
}

.add-comment-button {
	background-color: var(--button-color);
	color: var(--button-text-color);
	padding: 10px 20px;
	border: none;
	border-radius: var(--header-button-border-radius);
	cursor: pointer;
	font-size: 16px;
	font-family: "WorkSans-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.section-title {
	font-size: 26px;
	font-family: "WorkSans-SemiBold", sans-serif;
	font-weight: 600;
	font-style: normal;
	margin: 0;
}

.no-comments-message {
	font-size: 16px;
	font-family: "WorkSans-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.section-title-description {
	font-size: 20px;
	font-family: "WorkSans-Medium", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.container-creat {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.container-creat form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	margin: 1vw;
}

.container-creat button {
	display: flex;
	width: 100%;
	max-width: 150px;
	margin: 1vw;
}

textarea[name="text"] {
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: var(--form-input-border-radius);
	resize: vertical;
	font-size: 16px;
	font-family: "WorkSans-Regular", sans-serif;
	font-weight: 400;
}

.comments-list {
	list-style-type: none;
}

.comment-item {
	background-color: rgba(237, 237, 237, 1);
}
