{% load static %}
<nav class="profile-navigation" id="navbar-main">
	<div class="nav-container">
		<a class="profile-link" href="#" target="_blank">{{ page_title }}</a>
		<ul class="profile-menu">
			<li class="profile-dropdown">
				{% if show_link %}
				<a
					class="dropdown-toggle"
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<div class="profile-info">
						<span class="profile-img">
							<img
								alt="Image placeholder"
								src="{{ user.profile.image.url }}"
							/>
						</span>
						<div class="profile-username">
							<span class="username">{{ user.username }}</span>
						</div>
					</div>
				</a>
				{% endif %}
				<div class="dropdown-menu">
					<div class="dropdown-content"></div>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div
	class="profile-banner"
	style="
		min-height: 600px;
		background-image: url({% static 'img/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg' %});
		background-size: cover;
		background-position: center top;
	"
>
	<span class="banner-overlay"></span>
	<div class="profile-info-container">
		<h1 class="profile-greeting">Hello {{ user.username }}</h1>
		<p class="profile-description">{{ page_description }}</p>
		{% if show_link %}
		<a href="{% url 'profile' %}" class="profile-edit-link">Edit profile</a>
		{% endif %}
	</div>
</div>
